/*Portfolio*/
.perf-{
    position: relative;
    top: 0;
    left: 0;
    font-size: 40px;
    padding-bottom: 0;
    opacity: 0;
    color: white;
    animation: perf 500ms 11000ms forwards, 
    perfcenter 1000ms linear 83500ms forwards;
}
@keyframes perf {
        to {
            opacity: 1;
        }
}
@keyframes perfcenter {
        to {
            display: flex;
            justify-content: center;
            background-color: rgb(26, 32, 47);

            
            font-size: 60px;
            opacity: 1;
            top: 20px;
        }
}



/*Contact Links*/
.contact-{
    position: relative;
    display: flex;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 11;
    opacity: 0;
    animation: contact-tran 500ms ease-out 59500ms forwards;
}
@keyframes contact-tran {
    to {
        opacity: 1;
        top: 0px;
    }
}
.github-link-{
    display: flex;
}
.twitter-link-{
    display: flex;
}
.github-icon-{
    position: absolute;
    top: -2px;
    height: 50px;
    width: 50px;
    margin-left: 5px;
    object-fit: contain;
    animation: gitbig 500ms 84000ms forwards;
}
.twitter-icon-{
    position: absolute;
    top: -11px;
    height: 75px;
    width: 75px;
    margin-left: 80px;
    object-fit: contain;
    animation: xbig 500ms 86500ms forwards,
    xaway 500ms 85000ms forwards;
}
@keyframes gitbig {
    to {
        height: 95px;
        width: 95px;   
        top: -70px;
    }
}
@keyframes xbig {
    to {
        height: 150px;
        width: 150px;
        top: -95px;
    }
}
@keyframes xaway {
    to {
        top: -95px;
        right: -20px;
    }
}




