.background-{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(54, 54, 54, 0.5);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    animation: back 3000ms ease-in 200ms;
}
.skipbutt-{
    position: relative;
    justify-content: right;
    border: none;
    color: white;
    background-color: transparent;
    top: -25px;
    right: -375px;
    font-size: 20px;
    cursor: pointer;
}
.title-box-{
    position: relative;
    display: flex;


    background-color: black;
    color: white;

    padding: 10px 20px;
    font-size: 80px;
    border-radius: 10px;
}
.title-tran-{
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    animation: curtain 500ms ease-in forwards 1000ms;
}

@keyframes curtain {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes back {
    0% {opacity: 0; z-index: 1;}
    16% {opacity: 1; z-index: 1;}
    84% {opacity: 1; z-index: 1;}
    100% {opacity: 0; z-index: 1;}
}

.Skip{
    background-color: transparent;
    position: relative;
    color: white;
    left: 360px;
    bottom: 30px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

